<div class="clr" style="font-weight: bold;">
<div class="container"  >
  <div class="row ">
    <div class="col-4" style="margin-top: 3cm;  margin-left: 3cm;">

        <form #f="ngForm" (ngSubmit)="onBook(f)">

          <div class="form-group">
                <label for="">CustomerName</label>
                <input type="text" class="form-control" 
                minlength="4"  pattern="^[a-zA-Z .]+" 
                ngModel name="customername" #customername="ngModel" ngModel id="name"required
                
                placeholder="Enter the Customername">

              <div *ngIf="customername.touched && !customername.valid"
              class="alert alert-danger">
                ** Please enter the customer name ....

                <div *ngIf="customername.errors?.minlength">
                    ** Please enter the minimum length of customer name is {{customername.errors?.minlength.requiredLength}}
                </div>
              </div>
          </div>



          <div class="form-group">
            <label for="currencypair">CurrencyPair</label>
            <select ngModel name="currencypair" 
            id="currencypair" class="form-control"  required>  
             <option *ngFor="let item of currencypair" 
             [ngValue]="item">{{item.currencypair}} </option>
            </select> 
          </div>


          <div class="form-group">
              <label for="">Amount:</label>
              <input type="number"  class="form-control" 
                ngModel name="amount" #amount="ngModel" ngModel id="amount" required
                placeholder="Enter the amount">


               <div *ngIf="amount.touched && amount.invalid"
               class="alert alert-danger">
                  ** Please Enter the amount...
               </div>
          </div>
          
     
          <label for="">Do you want to get rate:</label>
          <mat-radio-group #rate="ngModel" ngModel required name ="rate" (change)="onChange($event)"><br>
          <mat-radio-button value="1">Yes</mat-radio-button> &nbsp;
          <mat-radio-button value="2">No</mat-radio-button>
          </mat-radio-group>
  

          <br><br>
          <button [disabled]="!f.valid" value="book" class="btn btn-success">BOOK</button> &nbsp;     
        </form><br>
        <button (click)="onCancel()" [disabled]="!f.valid" value="cancel"  class="btn btn-outline-danger">Cancel</button> &nbsp;
        <button (click)="onBack()"  class="btn btn-success">Back</button>
        <br>
        <span style="color: rgb(92, 92, 204);font-weight:bold;margin-top:5px;">{{ratemsg}}</span>
      
        <br><span style="color:rgb(57, 57, 170); margin-top:5px;">{{responsemsg}}</span>


    </div>
  </div>
</div>

</div>
