.front{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 150px ;
}



.card{
    margin: 90px;
    background-color: rgba(169, 153, 153, 0.4);
    
}


