 <div class="container" style="margin-top: 7%;">
  <thead class="header " style="font-weight: bold; color: black; font-size: large;">
    Booked Trades(or History):
</thead><br>
 <table class="table table-bordered table-hover" style="background-color: rgba(167, 167, 156, 0.456);">
    <thead class="table " style="background-color: rgba(0, 0, 0, 0.499);color: white;">
        <tr>
            <th >TradeNo</th>
            <th >CustomerName</th>
            <th >CurrencyPairs</th>
            <th >Amount</th>
            <th >Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor ="let data of datas | paginate: { itemsPerPage: 7, currentPage: p }">
            <td>{{data.tradeNo}}</td>
            <td>{{data.customerName}}</td>
            <td>{{data.currencyPair}}</td>
            <td>{{data.amount}}</td>
            <td>{{data.rate}}</td>
          </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"
      style="float:right ;"
    ></pagination-controls>
</div>
 <button (click)="onClick()" class="btn btn-success" style="margin-left: 3cm;">Back</button>
